{% extends 'base.html' %}

{% block title %}Preguntas Frecuentes{% endblock %}

{% block content %}
    <h2>Preguntas Frecuentes</h2>
    <br>
    <div class="faq">
        <div class="faq-item">
            <h4>¿Cómo puedo realizar un pedido?</h4>
            <p>Para realizar un pedido, primero navegue por nuestro catálogo y agregue los productos deseados al carrito. Luego, acceda al carrito y siga las instrucciones para completar su compra.</p>
            <br>
        </div>
        <div class="faq-item">
            <h4>¿Cuáles son los métodos de pago aceptados?</h4>
            <p>Aceptamos pagos con tarjeta de crédito, PayPal y transferencia bancaria. Todos los pagos se procesan de forma segura a través de nuestros socios de pago.</p>
            <br>
        </div>
        <div class="faq-item">
            <h4>¿Puedo rastrear mi pedido?</h4>
            <p>Sí, una vez que su pedido haya sido enviado, recibirá un número de seguimiento por correo electrónico. Puede usar este número para rastrear su pedido en línea.</p>
            <br>
        </div>
        <div class="faq-item">
            <h4>¿Cuál es su política de devoluciones?</h4>
            <p>Ofrecemos una política de devoluciones de 30 días. Si no está satisfecho con su compra, puede devolver el producto dentro de los 30 días siguientes a la recepción para un reembolso completo o un cambio.</p>
            <br>
        </div>
    </div>
{% endblock %}
