{% extends 'base.html' %}

{% block title %}Quiénes Somos{% endblock %}

{% block content %}
<h2>¿Quiénes somos?</h2> 
<br>
<h4>Pasión por el Mate y la Tradición</h4>
    <p>En Rincón Matero somos una empresa argentina dedicada al arte de crear mates y bombillas que representan nuestras raíces. Trabajamos con materiales de alta calidad para lograr productos duraderos, auténticos y con un estilo único que respira tradición.</p>

<h4>Compromiso con la Calidad</h4>
    <p>Para cada pieza, seleccionamos maderas nobles como el algarrobo y el palo santo, reconocidos por su resistencia, y calabazas tratadas artesanalmente para una experiencia genuina. Incorporamos acero inoxidable tanto en mates como en bombillas, asegurando la máxima durabilidad. </p>

<h4>Espacio para los Amantes del Mate</h4>
    <p>Nos enorgullece recibir a nuestros clientes en un ambiente acogedor donde pueden explorar y elegir el mate perfecto. Cada artículo que fabricamos se produce con dedicación en nuestra área de producción, respetando los procesos artesanales que dan un toque especial a cada producto.</p>

<h4>Compartimos la Pasión por el Mate</h4>
    <p>En Rincón Matero, nuestro objetivo es acompañarte en tus momentos especiales, brindando productos de calidad que celebren el verdadero espíritu matero.</p>
{% endblock %}
